<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<!--CADENA DE CONEXION-->
	<connectionStrings>
		<add name="Conexion" connectionString="Data Source=DESKTOP-IJMS7I6\SQLEXPRESS;Initial Catalog=INMOBILIARIA;Integrated Security=True"/>
	</connectionStrings>
</configuration>